@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    background: url(../imgs/fondo.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 99;
}

.logo-container {
    position: absolute;
    top: 50px;
    left: 20px;
    z-index: 999;
}

.logo-universidad {
    margin-top: 1cm;
    max-width: 150px;
    height: auto;
}

.logo-container_INTI {
    position: absolute;
    top: 50px;
    right: 20px;
    z-index: 999;
}

.logo-instituto {
    margin-top: 1cm;
    max-width: 150px;
    height: auto;
}

.container_editar {
    background-color: #ffffff !important;
    margin-top: 180px;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 2000px;
    transition: width 0.3s ease;
    margin-left: auto;
    margin-right: auto;
    
}

.containerr {
    background-color: #fff !important;
    margin-top: 180px;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 2000px;
    transition: width 0.3s ease;
    margin-left: auto;
    margin-right: auto;
}
.containerri {
    background-color: #fff !important;
    margin-top: 180px;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 980px;
    transition: width 0.3s ease;
    margin-left: auto;
    margin-right: auto;
}
.container_info {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
}

.sec_trab {
    margin: 20px 0;
}

.table-responsive {
    overflow-x: auto;
}

.navegation a {
    position: relative;
    font-size: 1.1rem;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
    border: 2px solid;
    padding: 0.2cm;
    border-radius: 6px;
}

.navegation a::after {
    content: "";
    position: absolute;
    width: 100%;
    bottom: -6px;
    left: 0;
    height: 2px;
    background: greenyellow;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .4s;
}

.navegation a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.navegation .btn {
    width: 150px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1rem;
    color: #fff;
    font-weight: 600;
    margin-left: 40px;
}

.navegation .btn:hover {
    background: #fff;
    color: greenyellow;
}

.profile-card, .profile-details {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
}

.profile-card {
    width: 250px;
    text-align: center;
    border: #000000 solid;
}

.profile-card img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.profile-card h2 {
    font-size: 20px;
    margin: 10px 0 5px;
}

.profile-card p {
    color: #666;
    margin: 5px 0;
}

.profile-details {
    flex-grow: 1;
    max-width: 600px;
    border: #000000 solid;
}

.profile-details .tabs {
    display: flex;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
}

.profile-details .tabs a {
    padding: 10px 20px;
    text-decoration: none;
    color: #333;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s;
}

.profile-details .tabs a.active {
    border-bottom: 2px solid #007bff;
    color: #007bff;
}

.profile-details h3 {
 font-size: 18px;
    margin-bottom: 10px;
}

.profile-details p {
    color: #666;
    margin-bottom: 20px;
}

.profile-details .profile-info {
    display: flex;
    flex-direction: column;
}

.profile-details .profile-info .info-item {
    display: flex;
    margin-bottom: 10px;
}

.profile-details .profile-info .info-item span {
    width: 150px;
    font-weight: 500;
}

.cintillo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #fff;
    z-index: 1000;
}

.cintillo img {
    width: 100%;
    height: 100%;
}

.user-actions {
    padding-left: 2px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.config-icon {
    font-size: 24px;
    color: #000;
    text-decoration: none;
    padding-left: 2px;
}

.fondo {
    position: relative;
    margin-top: 270px;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: transform .5s ease height .2s ease;
    transform: scale(1);
}

.fondo.active {
    height: 455px;
}

.fondo .contenedor-from {
    width: 100%;
    padding: 40px;
}

.contenedor-form h2 {
    font-size: 2em;
    color: #000000;
    text-align: center;
}

.contenedor-input {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #F1EFEF;
    margin: 30px 0;
}

.contenedor-input label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    font-weight: 600;
    pointer-events: none;
    transition: .4s;
    color: #F1EFEF;
}

.contenedor-input input:focus ~ label,
.contenedor-input input:valid ~ label {
    top: -5px;
    font-size: 0.8em;
    color: #000000;
}

.contenedor-input input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #000000;
    padding: 0 35px;
}

.contenedor-input .icono {
    position: absolute;
    right: 8px;
    font-size: 1.4em;
    color: #F1EFEF;
    line-height: 57px;
}

.recordar {
    font-size: .9em;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
    font-weight: 600;
}

.recordar label input {
    accent-color: #090f1d;
    margin-right: 3px;
}

.recordar a {
    color: #F1EFEF;
    text-decoration: none;
}

.recordar a:hover {
    text-decoration: underline;
}

.btn {
    width: 47%;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    background-color: #090f1d;
    color: #F1EFEF;
}

.btn_2 {
    width: 100%;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    background-color: #090f1d;
    color: #F1EFEF;
}

.registrar {
    font-size: .9em;
    color: #F1EFEF;
    text-align: center;
    margin: 25px 0 10px;
}

.registrar p a {
    color: #F1EFEF;
    text-decoration: none;
}

.registrar p a:hover {
    text-decoration: underline;
}

.btn_add {
    width: 100%;
    border: 1px solid #333 !important;
    background-color: #333 !important;
}

.btn_add:hover {
    opacity: 0.8;
}

.btn-success {
    border: 1px solid #06c046 !important;
    background-color: #06c046 !important;
}

hr {
    height: 0.1px !important;
    color: #06c046 !important;
    width: 100% !important;
    background-color: red;
}

.bi-arrow-right-circle {
    font-size: 30px;
}

.titulo_modal {
    width: 100%;
    display: flex;
    justify-content: center;
    color: #444;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

thead tr th {
    text-align: start !important;
}

tr td {
    text-align: start !important;
}

@media (max-width: 768px) {
    header .navegation {
        flex-direction: column;
        align-items: flex-start;
    }

    header .navegation a {
        margin-bottom: 1rem;
    }

    .containerr {
        width: 95%; /* Ancho completo en pantallas más pequeñas */
        padding: 10px; /* Ajustar el padding si es necesario */
    }

    .logo-container, .logo-container_INTI {
        position: relative; /* Cambiar a relative para evitar problemas de superposición */
        top: 0; /* Ajustar la posición */
        left: 0; /* Ajustar la posición */
        right: 0; /* Ajustar la posición */
    }

    .profile-card {
        width: 100%; /* Hacer que la tarjeta de perfil ocupe el 100% en pantallas pequeñas */
    }
}
.th{
	width: fit-content;
}
@media (min-width: 1138px) {
    .containerr {
        width: 80%; /* Ancho más pequeño en pantallas más grandes */
    }
    .table-responsive{
        width: 96%;
    }
}
@media (min-width: 1251px) {
    .containerr {
        width: 84%; /* Ancho aún más pequeño en pantallas muy grandes */
    }
    .table-responsive{
        width: 101%;
    }
    table.table-hover.dataTable{
        width: 1000.3px;
        }
}

@media (min-width: 1365px) {
    .containerr {
        width: 84%; /* Ancho aún más pequeño en pantallas muy grandes */
    }
    .table-responsive{
        width: 101%;
    }
    table.table-hover.dataTable{
        width: 1104.3px;
        }
}
@media (min-width: 1524px) {
    .containerr {
        width: 84%; /* Ancho aún más pequeño en pantallas muy grandes */
    }
    .table-responsive{
        width: 98%;
    }
    table.table-hover.dataTable{
    width: 1210.3px;
    }
}


@media (min-width: 1600px) {
    .containerr {
        width: 85%; /* Ancho más pequeño en pantallas extremadamente grandes */
    }
    .table-responsive{
        width: 100%;
    }
    table.table-hover.dataTable{
    width: 1393.3px;
    }
}

@media (min-width: 1900px) {
    .containerr {
        width: 83%; /* Ancho más pequeño en pantallas extremadamente grandes */
    }
    .table-responsive{
        width: 100%;
    }
    table.table-hover.dataTable{
        width: 1580.6px;

}
}
@media (min-width: 2277px) {
    .containerr {
        width: 100%; /* Ancho más pequeño en pantallas extremadamente grandes */
    }
    .table-responsive{
        width: 100%;
    }
    table.table-hover.dataTable{
            width: 1849.63px;

    }
}

